.banner-header {
    background-image: url('./assets/img/brabu4_slider1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 130px 0 140px 0;
    text-align: center;

    &__subTitle {
        font-weight: 500;
        color: #000;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        @include type-1(16);
    }

    &__title {
        font-weight: 600;
        color: #000;
        margin-bottom: 20px;
        @include type-1(60);
    }

    &__text {
        font-weight: 400;
        letter-spacing: 1.2px;
        color: #000;
        margin-bottom: 100px;
        @include type-1(16);
    }

    &__btn {
        font-weight: 600;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 20px 60px;
        background-color: #000;
        transition: all 0.8s;
        border: solid 2px #000;
        @include type-1(14);

        &:hover {
            background-color: transparent;
            color: #000;
            transition: all 0.8s;
            text-decoration: none;
            -webkit-box-shadow: -1px 6px 31px 0px rgba(0,0,0,0.1);
            -moz-box-shadow: -1px 6px 31px 0px rgba(0,0,0,0.1);
            box-shadow: -1px 6px 31px 0px rgba(0,0,0,0.1);
        }
    }
}

/* About */
.about {
    margin: 140px 0;

    .box {
        position: relative;

        .block-title {
            position: absolute;
            top: 150px;
            left: 390px;

            h3 {
                font-weight: 600;
                color: #000;
                display: flex;
                align-items: center;
                line-height: 20px;
                @include type-1(30);
                &:before {
                    content: '';
                    display: inline;
                    background-color: #000;
                    width: 75px;
                    height: 2px;
                    position: relative;
                    left: -20px;
                    margin-right: 10px;
                }
            }

            p {
                font-weight: 400;
                color: #000;
                @include type-1(30);
            }
        }
    }

    .box02 {
        position: relative;
        display: flex;
        flex-direction: row-reverse;

        .block-title {
            position: absolute;
            top: 150px;
            right: -90px;

            h3 {
                font-weight: 600;
                color: #000;
                display: flex;
                align-items: center;
                line-height: 20px;
                @include type-1(30);

                &:before {
                    content: '';
                    display: inline;
                    background-color: #000;
                    width: 40px;
                    height: 2px;
                    position: relative;
                    left: -20px;
                    margin-right: 10px;
                }
            }

            p {
                font-weight: 400;
                color: #000;
                @include type-1(30);
            }
        }
    }
}
/* End About */

/* Product Visited */
.productVisited {
    text-align: center;
    border-bottom: 1px solid #e3e7e8;
    padding-bottom: 120px;
    margin-bottom: 20px;
    &__block-filter {
        display: flex;
        justify-content: space-between;

        &__listFilter {
            display: flex;
            &__item {
                list-style: none;

                a {
                    color: #000;
                    font-weight: 500;
                    padding: 0 10px;
                    margin: 0 10px;
                    @include type-1(16);
                }
            }
        }

        &__img {
            list-style: none;

            li {
                a {
                    color: #000;
                    font-weight: 500;
                    @include type-1(16);
                }
            }
        }
    }

    &__lineSeparator {
        margin: 100px 0;

        &__item {
            text-align: center;

            &__name {
                font-weight: 500;
                color: #000;
                @include type-1(16);
            }

            &__price {
                font-weight: 500;
                @include type-1(20);
            }

            &__btn {
                padding: 10px 30px;
                background-color: #C06B4F;
                color: #fff;
                display: inline-block;
                margin: 0 auto;
                font-weight: 500;
                text-align: center;
                text-transform: uppercase;
                transition: all 0.8s;
                @include type-1(16);

                &:hover {
                    text-decoration: none;
                    color: #fff;
                    border: none;
                    background-color: rgb(184, 74, 37);
                    transition: all 0.7s;
                    -webkit-box-shadow: -1px 6px 31px -2px rgba(0,0,0,0.44);
                    -moz-box-shadow: -1px 6px 31px -2px rgba(0,0,0,0.44);
                    box-shadow: -1px 6px 31px -2px rgba(0,0,0,0.44);
                }
            }
        }

    }

    /* Button Load More */
    &__btnLoadMore {
        display: inline-block;
        background-color: transparent;
        border: solid 2px #000;
        color: #000;
        text-transform: uppercase;
        padding: 10px 60px;
        text-decoration: none;
        transition: all 0.7s;
        font-weight: 500;
        @include type-1(13);
        &:hover {
            color: #fff;
            text-decoration: none;
            background-color: #222;
            transition: all 0.7s;
        }
    }
}
/* End Product Visited */

/* Newsletter */
.newsletter {
    padding: 100px 0 ; 
    text-align: center;

    h2 {
        font-weight: 400;
        color: #000;
        line-height: 62px;
        margin-bottom: 60px;
        @include type-1(40);
    }

    p {
        line-height: 24px;
        color: #212529;
        @include type-1(16);
    }

    #form-newsletter {
        display: flex;
        justify-content: center;
        input {
            border: none;
            display: inline-block;
            border-bottom: solid 2px #e3e7e8;
            padding: 15px 15px 10px;
            color: #000;
            font-weight: 400;
            width: 50%;
            @include type-1(18);
        }

        button {
            color: #161619;
            font-weight: 500;
            border: none;
            background-color: transparent;
            border-bottom: solid 2px #e3e7e8;
            @include type-1(16);
        }
    }
}
/* End Newsletter */

/* Footer */
.footer {
    background-color: #303030;

    &__logo-footer {

    }
    img {
        // width: 5%;
    }

    &__img-pagament-footer {
        ul {
            display: flex;
            li {
                display: flex;
            }
        }
    }
}

/* End Footer */