.header-dashboard {
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: #512DA8;

    &__nav {

        &__menu {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 5px;
            
            form {
                display: flex;

                input {
                    background-color: #fff;
                    border: none;
                    padding: 4px;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    
                }

                button {
                    padding: 5px 15px;
                    border: none;
                    border-bottom-right-radius: 4px;
                    border-top-right-radius: 4px;
                    background-color: #ff4081;
                }
            }

            &__item {
                list-style: none;
                a {
                    padding: 10px 20px;
                    color: #222;
                    display: block;
                    color: #fff;
                    @include type-1(20);

                    &:last-child {
                        display: flex;
                        align-items: center;
                    }
                }
                
                .user {
                    span {
                        margin-left: 7px;
                        @include type-1(16);
                    }

                    img {
                        height: 40px;
                        width: 40px;
                        border-radius: 50px;
                    }

                }

            }

        }
    }

}

.panel-left {
    width: 15%;
    min-height: 1590px;
    background-color: #110A21;
    position: absolute;
    top: 73px;
    padding-top: 40px;    

    .logo {
        margin-bottom: 40px;
    }
    &__menu {

        &__line-product {
            padding-left: 0;
            h3 {
                color: #ff4081;
                @include type-1(30);
            }
            li {
                list-style: none;
                a {
                    color: #F0FFFF;
                    padding: 10px;
                    display: block;
                    font-weight: 500;
                    @include type-1(16);
                }
            }
        }

        &__line-users {
            padding-left: 0;
            h3 {
                color: #ff4081;
                @include type-1(30);
            }
            li {
                list-style: none;
                a {
                    color: #F0FFFF;
                    padding: 10px;
                    display: block;
                    font-weight: 500;
                    @include type-1(16);
                }
            }
        }

        &__line-category {
            padding-left: 0;
            h3 {
                color: #ff4081;
                @include type-1(30);
            }
            li {
                list-style: none;
                a {
                    color: #F0FFFF;
                    padding: 10px;
                    display: block;
                    font-weight: 500;
                    @include type-1(16);
                }
            }
        }
    }

    // .card, .card-header {
    //     background-color: #626ED4;
    //     border: none;
    // }

    // .card-header {

    //     a {
    //         color: #222;
    //         font-weight: 600;
    //         @include type-1(18);
    //     }

    //     ul {
    //         list-style: none;
    //     }
    // }

    // .card-body {
    //     padding: 0;
    //     a {
    //         display: block;
    //         padding: 5px 0;
    //         color: #b4c9de;
    //         font-weight: 400;
    //         @include type-1(16);
    //         &:hover {
    //             color: #fff;
    //         }
    //     }

    //     ul {
    //         padding-left: 70px;
    //         list-style: none;
    //     }
    // }

   
}

.conteudo-painel-index {
    padding-top: 100px;
    background-color: #F3F4FA;

    &__block-title {
        h2 {
            text-align: center;
            text-transform: uppercase;
            text-align: center;
            @include type-1(30);

            &:after {
                content: '';
                display: block;
                background-color: #FF4081;
                width: 200px;
                height: 2px;
                margin: 0 auto;
            }
        }

        .section-box {

            &__item {
                // padding: 20px 20px 10px;
                padding: 0px;
                box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
                text-align: center;
                margin:  20px ;
                background-color: #fff;
                border: 0px;
                word-wrap: break-word;
                border-radius: 0.25rem;

                &__ul {
                    display: flex;
                    // justify-content: space-evenly;
                    list-style: none;
                    padding: 0px;
                    margin: 0px;

                    &__icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color:#512da8;
                        padding: 40px 0px;
                        width: 60%;
                        box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
                        border-top-left-radius: 0.25rem;
                        border-bottom-left-radius: 0.25rem;

                        &:nth-child(2){
                            flex-direction: column;
                        }
                    }

                    &__block-title {
                        width: 100%;
                        padding: 16px 0;
                    }
                }
            }
        }
    }


    &__content {

        /* Vendas recente */
        &__box01 {

            h3 {
                margin-bottom: 20px;
                @include type-1(20);

                &:after {
                    content: '';
                    display: block;
                    margin: 5px 0 0;
                    background-color: #FF4081;
                    height: 1px;
                    width: 80px;
                }
            }

            .groupList {
                padding: 0;

                .item {
                    display: flex;
                    width: 100%;
                    // border: solid 1px #22222230;
                    // padding: 12px;
                    margin-bottom: 10px;

                    .main-wrapper{
                        display: block;
                        width: 100%;
                        text-decoration: none;

                        .wrapper {
                            display: flex;
                            align-items: center;

                            .img {
                                width: 100px;
                                height: 100px;
                                margin-right: 30px;
                            }

                            .info {
                                flex: 3;

                                h4 {
                                    color: #222;
                                    font-weight: 600;
                                    @include type-2(18);
                                }

                                .preco {
                                    color: #110A21;
                                    font-weight: 500;
                                    @include type-2(16);
                                }

                            }

                            .status {
                                flex: 2;

                                span {
                                    display: block;
                                    background-color: #512da8;
                                    padding: 2px;
                                    margin-bottom: 10px;
                                    text-align: center;
                                    border-radius: 3px;
                                    color: #fff;
                                }

                                .data {
                                    color: #222;
                                    @include type-2(16);
                                }
                            }
                        }
                    }
                }
            }
        }
        /* end Vendas recente */

        /* Últimos Produtos Adicionados */
        &__box02 {

            h3 {
                margin-bottom: 20px;
                @include type-1(20);

                &:after {
                    content: '';
                    display: block;
                    margin: 5px 0 0;
                    background-color: #FF4081;
                    height: 1px;
                    width: 80px;
                }
            }

            .groupList {
                padding: 0;

                .item {
                    display: flex;
                    width: 100%;
                    // border: solid 1px #22222230;
                    // padding: 12px;
                    margin-bottom: 10px;

                    .main-wrapper{
                        display: block;
                        width: 100%;
                        text-decoration: none;

                        .wrapper {
                            display: flex;
                            align-items: center;

                            .img {
                                width: 100px;
                                height: 100px;
                                margin-right: 30px;
                            }

                            .info {
                                flex: 3;

                                h4 {
                                    color: #222;
                                    font-weight: 600;
                                    @include type-2(18);
                                }

                                .preco {
                                    color: #110A21;
                                    font-weight: 500;
                                    @include type-2(16);
                                }

                            }

                            .status {
                                flex: 2;

                                span {
                                    display: block;
                                    background-color: #512da8;
                                    padding: 2px;
                                    margin-bottom: 10px;
                                    text-align: center;
                                    border-radius: 3px;
                                    color: #fff;
                                }

                                .data {
                                    color: #222;
                                    @include type-2(16);
                                }
                            }
                        }
                    }
                }
            }
        }
        /* end Últimos Produtos Adicionados */

        /* Produtos Mais Vendido */
        &__box03 {

            h3 {
                margin-bottom: 20px;
                @include type-1(20);

                &:after {
                    content: '';
                    display: block;
                    margin: 5px 0 0;
                    background-color: #FF4081;
                    height: 1px;
                    width: 80px;
                }
            }

            .groupList {
                padding: 0;

                .item {
                    display: flex;
                    width: 100%;
                    // border: solid 1px #22222230;
                    // padding: 12px;
                    margin-bottom: 10px;

                    .main-wrapper{
                        display: block;
                        width: 100%;
                        text-decoration: none;

                        .wrapper {
                            display: flex;
                            align-items: center;

                            .img {
                                width: 100px;
                                height: 100px;
                                margin-right: 30px;
                            }

                            .info {
                                flex: 3;

                                h4 {
                                    color: #222;
                                    font-weight: 600;
                                    @include type-2(18);
                                }

                                .preco {
                                    color: #110A21;
                                    font-weight: 500;
                                    @include type-2(16);
                                }

                            }

                            .status {
                                flex: 2;

                                span {
                                    display: block;
                                    background-color: #512da8;
                                    padding: 2px;
                                    margin-bottom: 10px;
                                    text-align: center;
                                    border-radius: 3px;
                                    color: #fff;
                                }

                                .data {
                                    color: #222;
                                    @include type-2(16);
                                }
                            }
                        }
                    }
                }
            }
        }
        /* end Produtos Mais Vendido */

        /* Sales Commison Employee */
        &__box04 {

            h3 {
                margin-bottom: 20px;
                @include type-1(20);

                &:after {
                    content: '';
                    display: block;
                    margin: 5px 0 0;
                    background-color: #FF4081;
                    height: 1px;
                    width: 80px;
                }
            }

            .groupList {
                padding: 0;

                .item {
                    display: flex;
                    width: 100%;
                    margin-bottom: 10px;

                    .main-wrapper{
                        display: block;
                        width: 100%;
                        text-decoration: none;

                        .wrapper {
                            display: flex;
                            align-items: center;

                            .img {
                                width: 100px;
                                height: 100px;
                                margin-right: 30px;
                            }

                            .info {
                                flex: 3;

                                h4 {
                                    color: #222;
                                    font-weight: 600;
                                    @include type-2(18);
                                }

                                .preco {
                                    color: #110A21;
                                    font-weight: 500;
                                    @include type-2(16);
                                }

                                .equipe {
                                    color: #110A21;
                                    @include type-2(16);
                                }

                            }

                            .status {
                                flex: 2;

                                span {
                                    display: block;
                                    background-color: #512da8;
                                    padding: 2px;
                                    margin-bottom: 10px;
                                    text-align: center;
                                    border-radius: 3px;
                                    color: #fff;
                                }

                                .data {
                                    color: #222;
                                    @include type-2(16);
                                }
                            }
                        }
                    }
                }
            }
        }
        /* end Sales Commison Employee */

        /* Funcionario do Mês */
        &__box05 {
        display: flex;
        align-items: center;
        flex-direction: column;

            h4 {                
                width: 100%;
                text-align: left;
                @include type-2(18);

                &:after {
                    content: '';
                    display: block;
                    margin: 5px 0 0;
                    background-color: #FF4081;
                    height: 1px;
                    width: 80px;
                }
            }

            ul {
                padding: 0px;
                width: 100%;

                li {
                    list-style: none;
                    padding: 0;
                    text-align: left;
                    margin-top: 20px;

                    p {
                        margin: 5px 0;
                        @include type-2(15);
                    }
                }
            }
        }
        /* end Funcionario do Mês */

    }

}